/*  */
.drop-container {
    background: #fff;
    padding: 1.5rem;
    width: 500px;
    display: inline-block;
    color: #000;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.disabledCursor {
    opacity: 0.6;
    pointer-events: none;
}

.active {
    border: 3px solid #4b4b4b;
    background: #edccff;
}

/*  */
.drop {
    border-radius: 10px;
    border: 3px dashed #aaaaaa;
    display: grid;
    width: 100%;
    place-content: center;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.drop .icon {
    font-size: 60px;
    color: #a916f9;
}

.drop .text {
    text-align: center;
    font-weight: 500;
    color: #443f46;
    margin-top: 1rem;
}

.drop label {
    background: #a916f9;
    padding: 0.7rem 1.8rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.progress {
    background: #a916f9;
    width: 0%;
    height: 20px;
    display: none;
    border-radius: 10px;
    transition: all 0.2s;
}

/*  */

/*  */
.pdfdrop {
    border-radius: 10px;
    border: 3px dashed #aaaaaa;
    display: grid;
    width: 100%;
    place-content: center;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.pdfdrop .icon {
    font-size: 60px;
    color: #a916f9;
}

.pdfdrop .text {
    text-align: center;
    font-weight: 500;
    color: #443f46;
    margin-top: 1rem;
}

.pdfdrop label {
    background: #a916f9;
    padding: 0.7rem 1.8rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.pdfprogress {
    background: #a916f9;
    width: 0%;
    height: 20px;
    display: none;
    border-radius: 10px;
    transition: all 0.2s;
}

/*  */

/*  */
.pdfsupplydrop {
    border-radius: 10px;
    border: 3px dashed #aaaaaa;
    display: grid;
    width: 100%;
    place-content: center;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.pdfsupplydrop .icon {
    font-size: 60px;
    color: #a916f9;
}

.pdfsupplydrop .text {
    text-align: center;
    font-weight: 500;
    color: #443f46;
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
}

.pdfsupplydrop label {
    background: #a916f9;
    padding: 0.7rem 1.8rem;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.pdfsupplyprogress {
    background: #a916f9;
    width: 0%;
    height: 20px;
    display: none;
    border-radius: 10px;
    transition: all 0.2s;
}

/*  */

/*  */

.file-input {
    display: none;
}

.line {
    width: 80px;
    height: 1px;
    background: #949494;
}

.or-con {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.or {
    margin: 0 1rem;
    font-weight: 500;
    color: #443f46;
}

@media (min-width:320px) {
    .drop-container {
        width: 360px;
    }
}

@media (min-width:801px) {
    .drop-container {
        width: 450px;
    }
}

@media (min-width:1025px) {
    .drop-container {
        width: 450px;
    }
}

@media (min-width:1281px) {
    .drop-container {
        width: 450px;
    }
}